/* index.css */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Garamond';
    margin: 0;
    padding: 0;
}

header{
    background-color: #037509;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flag img {
    max-height: 60px;
}

.title {
    text-align: center;
}

.container2 {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #a21d05;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.content {
    margin-left: 200px;
    padding: 20px;
    flex-direction: column;
    min-height: 100vh;
}

.header h1 {
    margin: 0;
    color: #a21d05;
}
.header h3{
    margin: 0;
    color: #a58079;
}

.content-main {
    display: flex;
    margin-top: 20px;
}

.content-details {
    flex: 2;
}

.intro h2 {
    color: #037509;
}

.intro p,
.intro ol,
.intro ul {
    text-align: justify;
}

.photo-details {
    flex: 1;
    margin-left: 20px;
}

.photo {
    margin-bottom: 20px;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.details {
    border: 2px solid #a21d05;
    padding: 5%;
}

.details h3,
.details span {
    margin-top: 0;
    font-weight: bold;
}

.more {
    padding: 1%;
    border-top: 1px solid #ccc;
    align-self: flex-end;
    background-color: #ccc;
}

.pol-fig {
    display: flex;
    align-items: center;
}

.pol-fig-photo {
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
    margin-right: 10px;
}

.pol-fig-name {
    font-size: smaller;
    font-weight: bold;
    margin-right: 10px;
}